%% -*- erlang -*-
{erl_first_files,
 [
  "src/exometer_igor.erl",
  "src/exometer_util.erl",
  "src/exometer_entry.erl",
  "src/exometer_probe.erl"
 ]}.

{deps,
 [
  {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans.git", {tag,"2.9.2"}}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag,"0.8.2"}}},
  {folsom, ".*", {git, "git://github.com/folsom-project/folsom", "38e2cce"}}, % this used to be tag 0.8.2
  {hut, ".*", {git, "git://github.com/tolbrino/hut.git", "v1.1.1"}},
  {setup, ".*", {git, "git://github.com/uwiger/setup.git", {tag,"1.6"}}}
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {verbosity, trace}
 ]}.

{sub_dirs, ["src"]}.

{edoc_opts,
 [
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, []},
  {top_level_readme,
   {"./README.md",
    "https://github.com/Feuerlabs/exometer_core", "master"}}
 ]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{clean_files, ["test/app1/ebin/*.beam"]}.
