%% -*- erlang -*-
{deps,
 [
  {parse_trans, "3.4.0"},
  {bear, "1.0.0"}
 ]}.

{profiles,
 [
  {test, [{deps, [{meck, "0.9.2"}]}]},
  {docs, [{deps, [{edown, "0.8.4"}]}]}
 ]}.

{erl_opts,
 [
  debug_info,
  {platform_define, "^((1[8|9])|2)", rand_module},
  {verbosity, trace}
 ]}.

{sub_dirs, ["src"]}.
{extra_src_dirs,[{"test/app1",[{recursive,true}]}]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{clean_files, ["test/app1/ebin/*.beam"]}.
