%% -*- erlang -*-
{deps,
 [
  {parse_trans, "3.4.1"},
  {setup, "2.2.1"}
 ]}.

{minimum_otp_vsn, "25.1"}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
{ex_doc, [
          {source_url, "https://github.com/Feuerlabs/exometer_core"},
          {extras, ["README.md", "LICENSE"]},
          {main, ""}]}.

{profiles,
 [
  {test, [{deps, [{meck, "1.0.0"}]},
          {extra_src_dirs, [{"test", [{recursive, true}]}]}
         ]},
  {edown, [{deps, [{edown, "0.9.1"}]},
           {edoc_opts,
            [
             {doclet, edown_doclet},
             {app_default, "http://www.erlang.org/doc/man"},
             {doc_path, []},
             {branch, "master"},
             {top_level_readme,
              {"./README.md",
               "https://github.com/Feuerlabs/exometer_core", "master"}}
            ]}
          ]}
 ]}.

{erl_opts,
 [
  debug_info,
  fail_on_warning,
  {verbosity, trace}
 ]}.

{sub_dirs, ["src"]}.

{dialyzer, [{plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, parse_trans, setup]}]}.

{xref_checks,
 [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_functions_calls,
  deprecated_functions
 ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{clean_files, ["test/app1/ebin/*.beam"]}.
